.detail-page {
  .container {
    .title {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .info {
        h3 {
        }
        ul {
          display: flex;
          list-style: none;
          padding-left: 0;
          li {
            padding-right: 15px;
          }
          .underline {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .share {
        ul {
          display: flex;
          list-style: none;
          li {
            padding-right: 15px;
          }
          .underline {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
    .image {
      padding-bottom: 30px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .description {
      .content {
        .title-left {
        }
        .title-right {
        }
        .service {
          .row {
            .item {
            }
          }
        }
        .authority {
        }
        .facility {
          .row {
            .item {
            }
          }
          .show-more {
            .btn {
              padding: 10px 15px;
              border: 1px solid;
              font-weight: $text-bold;
            }
          }
        }
      }
      .payment {
        form {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          .check {
            border: 1px solid rgb(221, 221, 221);
            border-radius: 12px;
            padding: 24px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
            .cost {
            }
            .row {
              .calendar {
                display: inline-block;
                position: relative;
                border-radius: 10px;
                .check {
                  display: flex;
                  .check-in {
                    p {
                      margin-bottom: 0;
                      padding-bottom: 5px;
                      font-weight: $text-semiBold;
                    }
                    input {
                      width: 100%;
                      padding: 10px;
                      border-radius: 5px;
                      border: 1px solid #b0b0b0;
                      outline: none;
                      cursor: pointer;
                      &:hover {
                        border: 1px solid;
                      }
                    }
                  }
                  .check-out {
                    @extend .check-in;
                  }
                }
                .calendarElement {
                  border-radius: 5px;
                  position: absolute;
                  left: 0;
                  transform: translateX(-80%);
                  top: 110px;
                  border: 1px solid #ccc;
                  z-index: 999;
                }
              }
              .add-guest {
                p {
                }
                input {
                  width: 100%;
                  padding: 10px;
                  border-radius: 5px;
                  border: 1px solid #b0b0b0;
                  outline: none;
                  cursor: pointer;
                  &:hover {
                    border: 1px solid;
                  }
                }
              }
              .button {
                .btn {
                  padding: 15px 0;
                  border: none;
                  width: 100%;
                  background: radial-gradient(
                    circle at center,
                    #ff385c 0%,
                    #e61e4d 27.5%,
                    #e31c5f 40%,
                    #d70466 57.5%,
                    #bd1e59 75%,
                    #bd1e59 100%
                  );
                  color: $text-c1-light;
                  font-weight: $text-bold;
                }
              }
              .notification {
              }
              .check-payment {
                .cost-amount {
                  .cost-date {
                    p {
                    }
                  }
                  .bill {
                  }
                }
                .service-cost {
                  .service {
                    p {
                    }
                    .cost {
                    }
                  }
                }
              }
              .total {
                font-weight: $text-bold;
                .detail {
                  p {
                  }
                }
                .in-total {
                }
              }
            }
          }
        }
      }
    }
  }
}
