.home-page {
  background-image: linear-gradient(174.2deg, #fff4e4 7.1%, #f0f6ee 67.4%);
  .carousel {
    width: 100%;
    opacity: 1;
    top: -40px;
    .slider {
      position: relative;
      .carousel-inner {
        .carousel-item {
          img {
            @include responsive("md") {
              height: 500px;
            }
            @include responsive("lg") {
              height: 850px;
            }
          }
          .carousel-caption {
            h5 {
              @include text($text-3xl, $text-semiBold, $text-c1-light);
            }
            p {
              @include text($text-xl, $text-semiBold, $text-c1-light);
            }
          }
        }
      }
    }
    .carousel-control-prev-icon {
      background-size: 50% 50%;
      background-color: $bg-header-main;
      border-radius: 50px;
      padding: 24px;
    }
    .carousel-control-next-icon {
      @extend .carousel-control-prev-icon;
    }

    .introduce {
      z-index: 10;
      position: absolute;
      width: 20%;
      transform: translate(0, 200%);
      color: $text-c1-main;
      left: 200px;
      top: 100px;
      @include responsive("mdd") {
        width: 40%;
        left: 90px;
        top: 20px;
      }
      @include responsive("lg") {
        width: 35%;
        left: 200px;
        top: 100px;
      }
      @include responsive("xl") {
        width: 30%;
      }
      @include responsive("xxl") {
        width: 23%;
      }
      h3 {
        animation: FadeInLeft 3s;
        background-color: #f0f6ee;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        font-size: $text-2xl;
        @include responsive("mdd") {
          font-size: $text-xl;
        }
        @include responsive("lg") {
          font-size: $text-2xl;
        }
      }

      .btn {
        color: $text-c1-light;
        background-color: $bg-header-main;
        cursor: pointer;
        padding: 10px;
        font-style: $text-base;
        border-radius: 10px;
        border: 1px solid $bg-header-main;
        transition: box-shadow 600ms ease-in-out, color 300ms ease-in-out;
        animation: FadeInTop 3s;
        &:hover {
          font-weight: $text-semiBold;
          color: $text-c1-main;
          box-shadow: 0 0 40px 40px $bg-header-light inset;
        }
      }
    }
  }
  .content {
    .container {
      .list {
        .menu {
          .list-choose {
            .list-city {
              @for $i from 0 to 7 {
                .item-#{$i + 1} {
                  animation: FadeInRight (0.1s * $i + 1);
                }
              }
              .list-room {
                .thumbnail {
                  overflow: hidden;
                  img {
                    height: 100px;
                    border-radius: 10px;
                    object-fit: contain;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                      transform: scale(1.7);
                    }
                  }
                }
                .detail {
                  h5 {
                    @include text($text-base, $text-semiBold, $text-c1-dark);
                    cursor: pointer;
                  }
                  p {
                    @include text($text-base, $text-regular, $text-c1-dark);
                    cursor: pointer;
                  }
                  .locate {
                    .btn {
                      padding: 10px;
                      font-style: $text-base;
                      border-radius: 10px;
                      color: $text-c1-main;
                      border: 1px solid $bg-header-main;
                      &:hover {
                        color: $text-c1-light;
                        background-color: $bg-header-main;
                        border: 1px solid $bg-header-main;
                        transition: 0.5s;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .convenient {
        .main {
          @for $i from 0 to 4 {
            .item-#{$i + 1} {
              animation: FadeInTop (0.1s * $i + 1);
            }
          }
          .service {
            padding: 25px;
            .thumbnail {
              img {
                height: 200px;
                border-radius: 10px;
              }
            }
            p {
              padding-top: 5px;
            }
          }
        }
      }
    }
  }
}
@keyframes FadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeInTop {
  from {
    opacity: 0;
    transform: translateY(500px);
  }
  to {
    opacity: 1;
  }
}
