.home-page-mobile {
  background-image: linear-gradient(174.2deg, #fff4e4 7.1%, #f0f6ee 67.4%);
  .carousel {
    background: url(../../img/ha2.jpg) center center / cover no-repeat;
    width: 100%;
    min-height: 500px;
    opacity: 1;
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      width: 100%;
      min-height: 500px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
      opacity: 0.8;
    }
    .introduce {
      z-index: 5;
      position: relative;
      width: 100%;
      transform: translate(0, 90%);
      color: $text-c1-light;
      padding: 0 40px;
      h3 {
        @include text($text-xl, $text-semiBold, $text-c1-light);
      }
      h4 {
        padding: 20px 0;
        @extend h3;
      }
      .btn {
        @include button(
          $text-xl,
          $text-regular,
          $text-c1-light,
          $bg-header-main,
          5px
        );
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid $bg-header-main;
        transition: box-shadow 600ms ease-in-out, color 300ms ease-in-out;
        &:hover {
          font-weight: $text-semiBold;
          color: $text-c1-main;
          box-shadow: 0 0 40px 40px $bg-header-light inset;
        }
      }
    }
  }
  .content {
    .container {
      .list {
        .tittle {
          padding-top: 40px;
          text-align: center;
          h3 {
            font-size: $text-2xl;
          }
        }
        .menu {
          .row {
            .list-city {
              .item {
                .thumbnail {
                  img {
                    height: 100px;
                    border-radius: 10px;
                  }
                }
                .detail {
                  h5 {
                    @include text($text-xl, $text-semiBold, $text-c1-dark);
                  }
                  p {
                    @include text($text-base, $text-regular, $text-c1-dark);
                  }
                  .locate {
                    padding: 10px;
                    font-style: $text-base;
                    border-radius: 10px;
                    color: $text-c1-main;
                    border: 1px solid $bg-header-main;
                    transition: box-shadow 500ms ease-in-out,
                      color 300ms ease-in-out;
                    &:hover {
                      color: $text-c1-light;
                      box-shadow: 0 0 40px 40px $bg-header-main inset;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .convenient {
        .tittle {
          h3 {
          }
        }
        .row {
          .item {
            padding: 25px;
            text-align: center;
            .thumbnail {
              img {
                height: 200px;
                border-radius: 10px;
              }
            }
            p {
              padding-top: 5px;
            }
          }
        }
      }
    }
  }
}
