.home-page {
  .carousel {
    background: url(../../img/ha2.jpg) center center / cover no-repeat;
    width: 100%;
    min-height: 850px;
    opacity: 1;
    top: -80px;
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      width: 100%;
      min-height: 850px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
      opacity: 0.8;
    }
    .introduce {
      z-index: 5;
      position: relative;
      width: 100%;
      transform: translate(0, 200%);
      color: $text-c1-light;
      h3 {
      }
      h4 {
        padding: 20px 0;
      }
      .btn {
        color: $text-c1-light;
        background-color: $bg-header-main;
        cursor: pointer;
        padding: 10px;
        font-style: $text-base;
        border-radius: 10px;
        border: 1px solid $bg-header-main;
        transition: box-shadow 600ms ease-in-out, color 300ms ease-in-out;
        &:hover {
          font-weight: $text-semiBold;
          color: $text-c1-main;
          box-shadow: 0 0 40px 40px $bg-header-light inset;
        }
      }
    }
  }
  .content {
    .container {
      .list {
        .tittle {
          h3 {
          }
        }
        .menu {
          .row {
            .list-city {
              .item {
                .thumbnail {
                  img {
                    height: 100px;
                    border-radius: 10px
                  }
                }
                .detail {
                  h5 {
                    @include text($text-xl, $text-semiBold, $text-c1-dark);
                  }
                  p {
                    @include text($text-base, $text-regular, $text-c1-dark);
                  }
                  .locate {
                    padding: 10px;
                    font-style: $text-base;
                    border-radius: 10px;
                    color: $text-c1-main;
                    border: 1px solid $bg-header-main;
                    transition: box-shadow 500ms ease-in-out,
                      color 300ms ease-in-out;
                    &:hover {
                      color: $text-c1-light;
                      box-shadow: 0 0 40px 40px $bg-header-main inset;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .convenient {
        .tittle {
          h3 {
          }
        }
        .row {
          .item {
            padding: 25px;

            .thumbnail {
              img {
                height: 200px;
                border-radius: 10px;
              }
            }
            p {
              padding-top: 5px;
            }
          }
        }
      }
    }
  }
}
