.list-page {
  .container {
    .row {
      .tittle {
        p {
        }
        h3 {
        }
      }
      .list-choose {
        border-top: 1px solid $bg-grey;
        padding: 20px 0;
        .thumbnail {
          img {
            object-fit: cover;
          }
        }
        .detail {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .info {
          }
          .view-more {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .button {
              margin-right: 10px;
              a {
                font-size: $text-xl;
                border: 1px solid $bg-header-main;
                color: $text-c1-main;
                background: $bg-header-light;
                text-align: center;
                position: relative;
                transition: all 0.7s;
                &::after {
                  position: absolute;
                  content: "";
                  top: 0;
                  left: 0;
                  width: 0;
                  height: 100%;
                  background: #ff003b;
                  transition: all 0.7s;
                }
                &:hover {
                  color: $text-c1-light;
                  &::after {
                    width: 100%;
                  }
                }
                span {
                  position: relative;
                  z-index: 2;
                }
              }
            }
            .price {
              // @extend .button;
              a {
                background: $bg-header-main;
                color: $text-c1-light;
                font-size: $text-xl;
                &:hover{
                 opacity: 0.8;
                 transition: all 0.5s;
                }
                span {
                }
              }
            }
          }
        }
      }
      .map {
      }
    }
  }
}
